@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.sora-bold {
    font-family: "Sora", sans-serif;
    font-weight: 700;
}

.sora-regular {
    font-family: "Sora", sans-serif;
    font-weight: 400;
}

.quicksand-bold {
    font-family: "Quicksand", sans-serif;
    font-weight: 700; 
}

.quicksand-regular {
    font-family: "Quicksand", sans-serif;
    font-weight: 400; 
}

/* HERO */

/* BODY */

/* CONTACT */

/* MEDIA */