@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-bold {
    font-family: "Quicksand", sans-serif;
    font-weight: 700; 
}

.quicksand-regular {
    font-family: "Quicksand", sans-serif;
    font-weight: 400; 
}

.satoshi-bold {
    font-family: 'Satoshi-Bold';
    font-weight: 700;
}

.satoshi-regular {
    font-family: 'Satoshi-Regular';
    font-weight: 400;
}

html {
     scroll-behavior: smooth !important;
   }

body {
     width: 100%;
     height: 100vh;
     margin: 0;
     padding: 0;
}

/* HERO */

.hero {
    width: 100%;
    height: 45%;
    background-color: #715AFF;
}

.rectangle-container-top-left svg{
     position: absolute;
     z-index: 1;
}

.hero-rectangle-2 {
     transform: translateY(20px);
}

.hero-rectangle-3 {
     transform: translateY(90px);
}

.rectangle-container-bottom-left svg {
     position: absolute;
     z-index: 1;
}

.hero-rectangle-4 {
     transform: translateY(275px);
}

.hero-rectangle-5 {
     transform: translateY(342px);
}

.hero-rectangle-6 {
     transform: translateY(406px);
}

.blocks-container-right svg {
     position: absolute;
     z-index: 1;
     right:0;
}

.hero-rectangle-7 {
     transform: translateY(135px);
}

.hero-rectangle-8 {
     transform: translateY(205px);
}

.hero-rectangle-9 {
     transform: translateY(280px);
}

.hero-woman-container {
     position: absolute;
     right:0;
}

/* .hero-woman-head {

} */

.hero-content {
     position: relative;
     width: 75%;
     padding: 55px 45px 0px;
     z-index: 10;
}

.hero-motto {
     margin: 0;
     color: #EEF;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     font-size: 2.5rem;
     font-style: normal;
     font-weight: 900;
     line-height: normal;
}

.NU-coloring {
     color: #2CF6B3;
     font-size: 3rem;
     border-bottom: 4px solid #2CF6B3;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-bio {
     padding: 0;
     margin: 5px 0px;
     color: #EEF;
     font-size: 1rem;
}

.button {
     position: relative;
     display: flex;
     justify-content: center;
     z-index: 10;
}

.hero-button {
     text-decoration: none;
     color: black;
     border: 1px solid #2CF6B3;
     border-radius: 0.625rem;
     background-color: #2CF6B3;
     padding: 10px 20px;
     align-items: center;
     text-align: center;
}

/* BODY */
main {
     background: #EEF;
}

main h2 {
     margin-top: 0;
}

main .nutax {
     display: inline;
     color: #A682FF;
}

main .purple-box-1 {
     position: fixed;
     z-index: 1;
     display: none;
}

main .purple-box-2 {
     position: fixed;
     z-index: 1;
     display: none;
}

main .business, .personal {
     text-align: center;
}

main .business p, .personal p {
     position: relative;
     z-index: 5;
}

/* CONTACT */

/* MEDIA */












































/* LICENSED CONTENT */
/**
* @license
*
* Font Family: Satoshi
* Designed by: Deni Anggara
* URL: https://www.fontshare.com/fonts/satoshi
* © 2024 Indian Type Foundry
*
* Satoshi Light 
* Satoshi LightItalic 
* Satoshi Regular 
* Satoshi Italic 
* Satoshi Medium 
* Satoshi MediumItalic 
* Satoshi Bold 
* Satoshi BoldItalic 
* Satoshi Black 
* Satoshi BlackItalic 
* Satoshi Variable (Variable font)
* Satoshi VariableItalic (Variable font)

*
*/
@font-face {
    font-family: 'Satoshi-Light';
    src: url('../fonts/Satoshi-Light.woff2') format('woff2'),
         url('../fonts/Satoshi-Light.woff') format('woff'),
         url('../fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('../fonts/Satoshi-LightItalic.woff2') format('woff2'),
         url('../fonts/Satoshi-LightItalic.woff') format('woff'),
         url('../fonts/Satoshi-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
         url('../fonts/Satoshi-Regular.woff') format('woff'),
         url('../fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('fonts/Satoshi-Italic.woff2') format('woff2'),
         url('fonts/Satoshi-Italic.woff') format('woff'),
         url('fonts/Satoshi-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('fonts/Satoshi-Medium.woff2') format('woff2'),
         url('fonts/Satoshi-Medium.woff') format('woff'),
         url('fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('fonts/Satoshi-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('fonts/Satoshi-Bold.woff2') format('woff2'),
         url('fonts/Satoshi-Bold.woff') format('woff'),
         url('fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('fonts/Satoshi-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('fonts/Satoshi-Black.woff2') format('woff2'),
         url('fonts/Satoshi-Black.woff') format('woff'),
         url('fonts/Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('fonts/Satoshi-BlackItalic.woff2') format('woff2'),
         url('fonts/Satoshi-BlackItalic.woff') format('woff'),
         url('fonts/Satoshi-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: italic;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 900.0;
  *
  * available axes:
  'wght' (range from 300.0 to 900.0
  */
  @font-face {
    font-family: 'Satoshi-Variable';
    src: url('fonts/Satoshi-Variable.woff2') format('woff2'),
         url('fonts/Satoshi-Variable.woff') format('woff'),
         url('fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 900.0;
  *
  * available axes:
  'wght' (range from 300.0 to 900.0
  */
  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('fonts/Satoshi-VariableItalic.woff2') format('woff2'),
         url('fonts/Satoshi-VariableItalic.woff') format('woff'),
         url('fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
  }
